DOMAIN=
SECRET_KEY=сгенерируйте_32_байта_через_openssl_rand_-hex_32
POSTGRES_USER=nodohub
POSTGRES_PASSWORD=придумайте_пароль
POSTGRES_DB=nodohubdb
DATABASE_URL=postgresql+asyncpg://nodohub:пароль@db:5432/nodohubdb
