# Байт-код и скомпилированные файлы
__pycache__/
*.py[cod]
*$py.class

# Виртуальные окружения
venv/
.env

# Файлы и папки для сборки и дистрибуции
build/
dist/
*.egg-info/

# Локальные настройки и IDE
docker-compose.override.yml
nginx.dev.conf
__pycache__
*.pyc
.idea/
.vscode/
*.sublime-*

# Системные и временные файлы
.DS_Store
Thumbs.db
*.log
*.cache
*.py,cover

# Контрольные точки Jupyter Notebook
.ipynb_checkpoints/
